*.cmi
*.annot
*.cmi
*.cmo
*.cmx
*.o
*.html
smtpp.byt
smtpp.opt
/src/config.cmo
/src/lexer.ml
/src/parser.ml
/src/parser.mli
/src/.depend
/Config.mk
/autom4te.cache/
/config.log
/config.status
/tests/test_parser
/tests/tester
/configure
/src/parser.automaton
/src/parser.conflicts
/src/static_smtpp.opt
/doc/Ast.html
/doc/auto/
/doc/style.css
/src/cmain
/src/cmain.byt
/src/cmain.opt
/src/dllsmtpp.so
/src/libsmtpp.a
/src/smtpp.a
/src/smtpp.cma
/src/smtpp.cmxa
*.pickle
*.svg
/scripts/exe.log
/scripts/tools.pdf
/src/smtpp_test
/src/version.ml
