*.cmi
*.annot
*.cmi
*.cmo
*.cmx
*.o
smtpp.byt
smtpp.opt
/src/config.cmo
/src/lexer.ml
/src/parser.ml
/src/parser.mli
/src/.depend
/Config.mk
/autom4te.cache/
/config.log
/config.status
/tests/test_parser
/tests/tester
/configure
